
.tablesorter-default {
    background-color: #fff;
    border-spacing: 0;
    color: #333;
    font: 12px/18px Arial,Sans-serif;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
}
.tablesorter-default th, .tablesorter-default thead td {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-collapse: collapse;
    color: #000;
    font: bold 12px/18px Arial,Sans-serif;
    padding: 0;
}
.tablesorter-default tfoot th, .tablesorter-default tfoot td {
    border: 0 none;
}
.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 20px 4px 4px;
    white-space: normal;
}
.tablesorter-default thead .headerSortUp, .tablesorter-default thead .tablesorter-headerSortUp, .tablesorter-default thead .tablesorter-headerAsc {
    background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");
    border-bottom: 2px solid #000;
}
.tablesorter-default thead .headerSortDown, .tablesorter-default thead .tablesorter-headerSortDown, .tablesorter-default thead .tablesorter-headerDesc {
    background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");
    border-bottom: 2px solid #000;
}
.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}
.tablesorter-default tfoot .tablesorter-headerSortUp, .tablesorter-default tfoot .tablesorter-headerSortDown, .tablesorter-default tfoot .tablesorter-headerAsc, .tablesorter-default tfoot .tablesorter-headerDesc {
    border-top: 2px solid #000;
}
.tablesorter-default td {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    vertical-align: top;
}
.tablesorter-default tbody > tr:hover > td, .tablesorter-default tbody > tr.even:hover > td, .tablesorter-default tbody > tr.odd:hover > td {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.tablesorter-default .tablesorter-processing {
    background-image: url("data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.tablesorter-default tr.odd td {
    background-color: #dfdfdf;
}
.tablesorter-default tr.even td {
    background-color: #efefef;
}
.tablesorter-default tr.odd td.primary {
    background-color: #bfbfbf;
}
.tablesorter-default td.primary, .tablesorter-default tr.even td.primary {
    background-color: #d9d9d9;
}
.tablesorter-default tr.odd td.secondary {
    background-color: #d9d9d9;
}
.tablesorter-default td.secondary, .tablesorter-default tr.even td.secondary {
    background-color: #e6e6e6;
}
.tablesorter-default tr.odd td.tertiary {
    background-color: #e6e6e6;
}
.tablesorter-default td.tertiary, .tablesorter-default tr.even td.tertiary {
    background-color: #f2f2f2;
}
caption {
    background: none repeat scroll 0 0 #fff;
}
.tablesorter-default .tablesorter-filter-row td {
    background: none repeat scroll 0 0 #eee;
    border-bottom: 1px solid #ccc;
    line-height: normal;
    text-align: center;
    transition: line-height 0.1s ease 0s;
}
.tablesorter-default .tablesorter-filter-row .disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.tablesorter-default .tablesorter-filter-row.hideme td {
    cursor: pointer;
    line-height: 0;
    margin: 0;
    padding: 2px;
}
.tablesorter-default .tablesorter-filter-row.hideme .tablesorter-filter {
    border: 0 none;
    height: 1px;
    margin: 0;
    min-height: 0;
    opacity: 0;
    padding: 0;
}
.tablesorter-default .tablesorter-filter {
    background-color: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    color: #333;
    height: auto;
    margin: 4px;
    padding: 4px;
    transition: height 0.1s ease 0s;
    width: 95%;
}
.tablesorter .filtered {
    display: none;
}
.tablesorter .tablesorter-errorRow td {
    background-color: #e6bf99;
    cursor: pointer;
    text-align: center;
}
